.top-1 h2 {
  font-size: 42px;
}

.banner {
  background: url('../img/banner2.jpg') center no-repeat;
  margin-bottom: 25px;
  padding-top: 90px;
}

.top-2 span {
  font-size: 24px;
  font-weight: 600;
  line-height: 44px;
}

.callback {
  background: url('../img/call2.jpg') center no-repeat;
}

.banner2 > div {
  width: 90%;
  text-align: center;
}

.stages {
  padding-bottom: 20px;
}

.banner2 {
  background: url(../img/banner3.jpg) center no-repeat;
  padding-top: 40px;
  margin-bottom: 25px;
}

.form1 img {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 700px;
}

.form1 input,
.form3 input {
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  padding: 5px 15px;
  background: #000;
  width: 260px;
  text-align: center;
  z-index: 2;
}

.form3 input {
  width: 25px;
  font-size: 16px;
}

.form1 input::-webkit-input-placeholder {color: #fff;}
.form1 input::-moz-placeholder {color: #fff;}
.form1 input:-moz-placeholder{color: #fff;}
.form1 input:-ms-input-placeholder {color: #fff;}
.form1 input:focus::-webkit-input-placeholder {color: transparent;}
.form1 input:focus::-moz-placeholder {color: transparent;}
.form1 input:focus:-moz-placeholder {color: transparent;}
.form1 input:focus:-ms-input-placeholder {color: transparent;}

.form3 input::-webkit-input-placeholder {color: #fff;}
.form3 input::-moz-placeholder {color: #fff;}
.form3 input:-moz-placeholder{color: #fff;}
.form3 input:-ms-input-placeholder {color: #fff;}
.form3 input:focus::-webkit-input-placeholder {color: transparent;}
.form3 input:focus::-moz-placeholder {color: transparent;}
.form3 input:focus:-moz-placeholder {color: transparent;}
.form3 input:focus:-ms-input-placeholder {color: transparent;}

.form1 input.sect {
  position: absolute;
  top: 50px;
  left: 260px;
}

.form1 input.width {
  position: absolute;
  bottom: 9px;
  left: 390px;
  width: 120px;
}

.form1 input.depth {
  position: absolute;
  bottom: 9px;
  right: 328px;
  width: 120px;
}

.form1 input.height {
  transform: rotate(-90deg);
  position: absolute;
  top: 350px;
  left: 105px;
  width: 120px;
}

.form2 ul,
.form5 ul,
.form6 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 100px 10px;
}

.form2 ul li,
.form5 ul li,
.form6 ul li {
  flex-basis: 25%;
  text-align: center;
  margin-right: 130px;
  margin-bottom: 25px;
}

.form2 ul li img,
.form5 ul li img,
.form6 ul li img  {
  width: 333px;
}

.form3 .g3-canva {
  display: flex;
  justify-content: space-around;
  padding: 50px 60px 0;
}

.form3 .g3-itm {
  display: inline-block;
  background: url('../img/g3-1.png') no-repeat;
  width: 247px;
  height: 557px;
}

.form3 .g3-itm ul li {
  position: relative;
}

.form3 .g3-itm ul li img {
  opacity: 0.5;
}

.form3 .g3-itm ul li img.is-active {
  opacity: 1;
}

.form3 .g3-itm ul li.rod {
  top: 50px;
}

.form3 .g3-itm ul li.lift-rod {
  top: 295px;
}

.form3 .g3-itm ul li.cases {
  top: 200px;
}

.form3 .g3-itm ul li.shelf {
  top: 110px;
}

.form3 .g3-itm ul li.section-width {
  top: 405px;
}

.form3 .g3-itm ul li.section-width input {
  width: 217px;
  right: 0;
  text-align: left;
}

.form3 .g3-itm ul li img {
  position: absolute;
  right: 4px;
  top: 38px;
  width: 237px;
}

.form3 .g3-itm ul li span {
  line-height: 40px;
  padding-left: 20px;
}

.form3 .g3-itm ul li input {
  position: absolute;
  right: 22px;
  top: 3px;
}

.form4 .g4-itm p.title {
  font-weight: 600;
  font-size: 18px;
}

.form4 .g4-itm ul {
  display: flex;
  padding-left: 35px;
  padding-top: 25px;
}

.form4 .g4-itm {
  margin-top: 35px;
}

.form4 .g4-itm ul li {
  flex-basis: 80px;
  margin-right: 25px;
  text-align: center;
}

.form4 .g4-itm ul li label {
  font-size: 14px;
}

.form8 span.price{
  color: #e70616;
  font-size: 48px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.form8 form {
  margin-top: 30px;
}
