.form1  img {
  border-radius: 50%;
  transition: opacity 0.25s;
}

.form1 ul {
  margin-top: 150px;
}

.form1 ul li {
  display: inline-block;
  margin-left: 45px;
}

.form1 ul li span {
  position: absolute;
  left: 85px;
  bottom: 90px;
  font-size: 24px;
  opacity: 0;
  transition: 0.25;
}

.form1 li:hover span,
.form1 li:hover .figure,
.form1 input[type="radio"]:checked ~ label span,
.form1 input[type="radio"]:checked ~ label .figure {
  opacity: 1;
}

.form1 li:hover img,
.form1 input[type="radio"]:checked ~ label img{
  opacity: 0.5;
}

.form1 .figure {
  opacity: 0;
  border-radius: 0;
  position: absolute;
  left: 45px;
  bottom: 150px;
  transition: 0.25s;
}

.form2 ul li {
  position: relative;
}

.form2 img {
  position: absolute;
  top: 100px;
  left: 200px;
}

.form2 input {
  border: none;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  padding: 5px 15px;
  background: #000;
  width: 100px;
}

.form2 input[name="width"] {
  position: absolute;
  top: 50px;
  left: 550px;
}

.form2 input[name="height"] {
  transform: rotate(-90deg);
  position: absolute;
  top: 350px;
  left: 100px;
}

.form2 input[name="height2"] {
  transform: rotate(90deg);
  position: absolute;
  top: 350px;
  right: 0px;
}

.form3 ul,
.form4 ul,
.form5 ul,
.form6 ul,
.form7 ul  {
  padding-top: 20px;
  padding-left: 110px;
}

.form7 ul  {
  padding-top: 90px;
}

.form4 ul {
  padding-left: 220px;
}

.form6 ul {
  padding-top: 180px;
}

.form3 li,
.form7 li  {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 20px;
  width: 230px;
  vertical-align: top;
}

.form3 li img,
.form7 li img  {
  width: 100%;
  height: 150px;
}

.form3 li label,
.form4 li label,
.form5 li label,
.form6 li label,
.form7 li label  {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.form3 li:hover img,
.form4 li:hover img,
.form5 li:hover img,
.form6 li:hover img,
.form7 li:hover img  {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(234,4,20,1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(234,4,20,1);
  box-shadow: 0px 0px 0px 2px rgba(234,4,20,1);
}

.form4 li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  vertical-align: top;
  width: 360px;
}

.form4 li img {
  width: 360px;
}

.form5 li,
.form6 li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  vertical-align: top;
  width: 300px;
}

.form5 li:nth-child(3n),
.form6 li:nth-child(3n) {
  margin-right: 0;
}

.form5 li img,
.form6 li img  {
  width: 300px;
}

.form8 span.price{
  color: #e70616;
  font-size: 48px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.form8 form {
  margin-top: 30px;
}
