@font-face {
  font-family: "magnolia";
  src: url("../fonts/Magnoliascript.ttf");
  src: url("../fonts/Magnoliascript.woff") format("woff"),
  url("../fonts/Magnoliascript.woff2") format("woff");
  font-style: normal;
  font-weight: 400;
}

* {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
height:100%;
min-height:100%;
background: white;
min-width: 1300px;
}

ul {
  list-style: none;
}

a {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

a.number:hover {
  color: #ea0414;
}

.row {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}

header {
  padding: 20px 0;
}

header .logo {
  text-align: center;
}

header .logo .diel {
  font-family: "magnolia";
  color: #ea0414;
  font-size: 80px;
  line-height: 70px;
}

header .logo span:last-child {
  text-transform: uppercase;
  font-size: 26px;
}

.tel {
  position: absolute;
  right: 40px;
  top: 0;
  text-align: right;
}

a.number {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 20px;
  display: block;
}

nav {
  background: #e70616;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  width: 20%;
}

nav ul li:nth-child(2) {
  margin-right: 25px;
}
nav ul li:nth-child(3) {
  margin-left: 25px;
}

nav ul li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  font-size: 22px;
}

nav ul li a:hover {
  color: #000;
}

.top-1 {
  text-align: center;
}

.top-1 h2,
.top-2 span {
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
}

.top-2 {
  text-align: center;
  background: #e70616;
}

.top-2 span {
  color: #fff;
}

.slider {
  margin-bottom: 60px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
  position: relative;
  width: 1200px;
  /*height: 485px;*/
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 80px;
  padding: 10px 0;
}

.slider i {
  position: absolute;
  font-size: 62px;
  cursor: pointer;
  padding: 18% 5px;
  z-index: 2;
}

.slider i.fa-angle-left {
  left: 0;
}

.slider i.fa-angle-right {
  right: 0;
}

.slides {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide {
  position: relative;
  display: block;
  width: 400px;
  text-align: center;
  float: left;
  padding-bottom: 40px;
}

.slide > span:first-child {
  font-size: 32px;
  height: 105px;
  display: block;
  text-transform: uppercase;
}

.slide ul {
  list-style: disc;
  padding-left: 25px;
  text-align: left;
  color: #ea0414;
  margin-left: 25px;
}

.slide ul span {
  color: #000;
  font-size: 14px;
}

.slide span.price {
  color: #ea0414;
  font-size: 28px;
  font-weight: 600;
  display: block;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.slide img {
  display: block;
  margin: 0 auto;
  border: 2px solid #e70616;
  border-radius: 50%;
  width: 325px;
  margin-bottom: 55px;
}

.banner {
  background: url("../img/kitch1.jpg") center no-repeat;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  /*background-size: 90%;*/
}

.banner2 {
  background: url("../img/kitch5.jpg") center no-repeat;
  padding: 80px 0;
}

.banner2 > div {
  margin: 0 auto;
  width: 55%;
}

.banner span{
  background: rgba(255, 255, 255, 0.75);
  padding: 10px 15px;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 118px;
}

.banner2 span{
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  padding: 5px 0;
  line-height: 58px;
}

.banner2 span i {
  color: #f00;
  margin-right: 20px;
}

.features {
  background: url("../img/kitch2.jpg") center no-repeat;
  background-size: 100%;
  height: 340px;
}

.features .top-2 span,
.calculator .top-2 span,
.stages .top-2 span{
  font-size: 24px;
  font-weight: 600;
  line-height: 44px;
}

.features li {
  position: relative;
  display: inline-block;
  width: 45%;
  padding: 0 4.5%;
  margin: 20px 0;
}

.features li span {
  position: absolute;
  top: 20px;
  left: 160px;
  font-size: 20px;
  width: 75%;
  padding-right: 45px;
  padding-left: 10px;
  border-radius: 6px;
}

.features ul li img {
  max-width: 500px;
}

.stages {
  background: url("../img/kitch3.jpg") center no-repeat;
  background-size: 100%;
  height: 415px;
}

.stages  ul {
  text-align: center;
}

.stages  ul::before {
  content: '';
  height: 3px;
  position: absolute;
  top: 121px;
  background: #ea0414;
  left: 27%;
  right: 18%;
}

/*.stages li:first-child {
  top: 115px;
  right: -65px
}*/

.stages li:first-child img {
  height: 210px;
}

.stages li {
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 245px;
}

.stages li img {
  margin: 25px 0;
}

.stages li span {
  display: block;
}

.callback {
  background: url("../img/kitch4.jpg") center no-repeat;
  background-size: 100%;
}

.callback p {
  font-weight: 600;
  text-align: center;
  font-size: 26px;
}

.callback p:first-child {
  padding-top: 60px;
}

.callback form {
  margin-top: 40px;
  padding-bottom: 60px;
}

.callback input,
.form8 input,
.form8 textarea {
  display: block;
  margin: 0 auto;
}

.callback input[type="text"],
.form8 input[type="text"],
.form8 textarea {
  width: 45%;
  margin-bottom: 15px;
  padding: 15px 25px;
  font-size: 24px;
}

.form8 textarea {
  font-size: 16px;
}

footer {
  background: #000;
}

footer .logo {
  text-align: left;
  margin-left: 30px;
  padding-top: 25px;
}

footer .logo .diel {
  font-family: "magnolia";
  color: #ea0414;
  font-size: 48px;
}

footer .logo span:last-child {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

footer ul {
  position: absolute;
  right: 30px;
  top: 25px;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  color: #fff;
  display: block;
  padding: 10px 15px;
}

footer ul li a:hover,
footer .inst a {
  color: #ea0414;
  text-decoration: underline;
}

footer .inst a:hover {
  font-size: 20px;
}

footer h3 {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
}

.inst {
  text-align: right;
  padding-right: 85px;
  padding-bottom: 50px;
}

.calc-bg {
  background: url("../img/calc-bg2.jpg");
  background-size: cover;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
  height: 992px;
  margin-bottom: 25px;
  border-radius: 0 0 10px 10px;
  padding: 0 10px;
}

.calc-main {
  position: relative;
  z-index: 2;
  background: url("../img/calc-bg.jpg");
  padding: 10px;
  height: 864px;
}

.calc-main .back,
.calc-main .forward {
  color: #fff;
  position: absolute;
  bottom: 45px;
  left: 70px;
  font-size: 28px;
  cursor: pointer;
}

.calc-main .forward {
  left: 420px
}

.calc-main .back i,
.calc-main .forward i {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.calc-main .back:hover i,
.calc-main .forward:hover i {
  color: red;
}

.calc-tabs input[type="radio"],
.calc-main input[type="radio"],
.calc-main input[type="checkbox"] {
  display: none;
}

.calc-tabs input[type="radio"]:checked  ~ label {
  box-shadow: 3px 9px 10px -2px rgba(0,0,0,0.75);
  border-radius: 0 4px 0 0;
  background: url("../img/calc-bg.jpg")
}

.calc-tabs input[type="radio"]:checked  ~ label::after {
  content: '';
  background: url("../img/calc-bg.jpg") top left;
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.calc-tabs label {
  display: block;
  position: relative;
  background: url("../img/tab.png") no-repeat;
  background-size: 323px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 25px 0;
  margin-top: 18px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
}

.calc-tabs li {
  display: inline-block;
  width: 345px;
  text-align: center;
}

.steps {
  box-shadow: inset 2px 0px 10px -2px rgba(0,0,0,0.75);
  background: #fff;
  width: 55px;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 100px;
}

.steps label {
  position: relative;
  left: -16px;
  font-size: 48px;
  font-weight: 600;
  padding: 10px 30px;
  cursor: pointer;
}

.steps li {
  position: relative;
  margin: 15px 0;
}

.steps input[type="radio"]:checked  ~ label {
  background: #fff;
  border-radius: 50%;
  border: 2px solid #e70616;
}

.select-form {
  position: absolute;
  top: 50px;
  left: 120px;
  width: 90%;
  height: 700px;
}

.select-form  span.title,
.select-form  span.empty {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  display: block;
  text-align: center;
}

.select-form  span.empty {
  position: absolute;
  top: 275px;
  left: 400px;
}

.select-form label {
  position: relative;
  cursor: pointer;
}

.select-form input[type="radio"]:checked ~ label img:first-child,
.select-form input[type="checkbox"]:checked ~ label img:first-child,
.form3 input[type="radio"]:checked ~ label img {
  box-shadow: 0px 0px 0px 2px rgba(234,4,20,1);
}

textarea::-webkit-input-placeholder {
  font-size: 24px;
}

.semi-price {
  position: absolute;
  bottom: 20px;
  right: 100px;
}

.semi-price p {
  display: inline-block;
}
.semi-price p:first-child,
.semi-price p:last-child  {
  font-size: 24px;
  color: #fff;
  width: 140px;
  font-weight: 600;
  padding: 10px 15px;
  vertical-align: middle;
}

.semi-price p:last-child {
  font-size: 32px;
  background-color: #e70616;
  text-align: center;
  width: auto;
}

.calc-main span.complete {
  font-size: 24px;
  padding: 10px 35px;
  position: absolute;
  bottom: 35px;
  left: 600px;
}

.mfigure1,
.mfigure2,
.mfigure3 {
  position: absolute;
  top: 18px;
  left: -7px;
  width: 75px;
  display: none;
  pointer-events: none;
}

.select-form > div label {
  text-transform: uppercase;
}












.form2,
.form3,
.form4,
.form5,
.form6,
.form7,
.form8,
.fa2-1,
.fa2-2,
.fa2-3 {
  display: none;
}



















































.is-active {
  display: block;
}

.not-active {
  display: none;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #e70616;
    box-shadow: 0 0 6px #e70616;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.btn {
  background: #e70616;
  border: none;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 22px;
  font-weight: 600;
  display: block;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  text-decoration: none;
}
